<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">RESTAURAR CONTRASEÑA</ion-title> <!-- Título de la página -->
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    
    <!-- Campo para el correo electrónico -->
    <ion-item>
      <ion-label position="floating">Dirección de correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    
    <!-- Botón para enviar el formulario -->
    <ion-button expand="full" type="submit" [disabled]="!forgotPasswordForm.valid">Restablecer contraseña</ion-button>
  </form>

  <!-- Enlace para volver a la página de inicio de sesión -->
  <ion-row>
    <ion-col>
      <ion-button expand="full" fill="clear" (click)="goToLogin()">Volver a Iniciar sesión</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
