ion-header {
  --background: #3880ff; /* Color de fondo del encabezado */
  --color: white; /* Color del texto en el encabezado */
}

ion-content {
  display: flex; /* Usar un contenedor flexible */
  flex-direction: column; /* Organizar los elementos en columna */
  justify-content: center; /* Centrar los elementos verticalmente */
  align-items: center; /* Centrar los elementos horizontalmente */
  padding: 20px; /* Espaciado alrededor del contenido */
}

ion-item {
  width: 100%; /* Los elementos de formulario ocupan todo el ancho disponible */
}

ion-button {
  margin-top: 20px; /* Espacio superior entre los botones */
}

ion-row {
  margin-top: 10px; /* Espacio superior para las filas */
}
